@model IEnumerable<StudentManagement.Models.Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    ViewBag.Title = "学生列表";

}

        <table border= "1">
            <caption>@ViewBag.Title</caption>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>Email</th>
                    <th>班级名称</th>
                </tr>
                 </thead>
                 <tbody>
                      @foreach(var student in Model) 
                { <tr>
                    <td>
                        @student.Id
                    </td>
                    <td>@student.Name</td>
                    <td>@student.Email</td>
                    <td>
                        @student.ClassName
                    </td>

                </tr>
                }
                 </tbody>
               
               
           
        </table>
 
